        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            overflow: hidden;
            background-color: black;
        }

        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 10px 20px;
            background-color: #830404;
            color: white;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            z-index: 1000;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            box-sizing: border-box; /* Adjusts for padding */
        }

        .header img {
            height: 40px;
            width: auto;
        }

        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;
            background: linear-gradient(to left, #220101, #621212);
            border-radius: 10px;
            overflow: hidden;
            margin-top: 70px; /* Increased margin to avoid header overlap */
            padding: 10px; /* Reduced padding */
            box-sizing: border-box;
            height: calc(100vh - 70px); /* Adjusted height calculation */
        }

        .lyrics-container {
            flex: 1;
            padding: 10px; /* Reduced padding */
            color: black;
            overflow-y: scroll;
            height: 100%;
            font-size: 18px;
        }

        .audio-container h2 {
            font-size: 1;
            color: white;
        }

        .lyrics {
            font-size: 30px;
            line-height: 2;
            font-weight: bold;
            display: block;
        }

        .highlight {
            color: white; /* Highlight color */
        }

        .audio-container {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #220101   ;         
        }

        .audio-container img {
            width: 80%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 10px; /* Reduced margin */
        }

        audio {
            width: 80%;
        }